*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'zabars';
    src: url('fonts/Zabars.ttf') format('truetype');
}

.d-none {
    display: none;
}

.v-hidden {
    visibility: hidden;
}

.d-none-important {
    display: none !important;
}

body  {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/5_background/desert.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.screen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.device {
    position: absolute;
    display: flex;
    background-color: #333333;
    width: 100%;
    min-height: 100vh;
    z-index: 10;
}

.device-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    gap: 32px;
}

h3 {
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 8px 1px 4px rgba(0, 0, 0, 0.5);
    color: azure;
    text-align: center;
}

.mobile-device {
    width: 60px;
}

.startscreen, .endscreen, .you-lost-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-btn{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 720px;
    width: 100%;
    bottom: 4px;
}

.left-hud, .right-hud {
    display: flex;
    gap: 32px;
}

.startscreen-img, .endscreen-img, .endscreen-img-bg, .you-lose-img, .you-lose-img-bg {
    width: 100%;
    height: 100%;
}

.endscreen-img, .you-lose-img {
   position: absolute;
   top: 0;
   left: 0;
}

.endscreen-img-bg, .you-lose-img-bg {
    position: relative;
}

h1 {
    
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 8px 1px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
    display: block;
    width: 720px;
    height: 480px;
}

.start-btn, .restart-btn {
    position: absolute;
    top: 10px;
    left: 40%;
	box-shadow:inset 0px 1px 11px 0px #fadc1b;
	background:linear-gradient(to bottom, #f5cc85 5%, #ffab23 100%);
	background-color:#f5cc85;
	border-radius:42px;
	border:1px solid #ffa600;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:32px;
	font-weight:bold;
	padding:16px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.start-btn:hover, .restart-btn:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #f5cc85 100%);
	background-color:#ffab23;
}

.left-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.left-walk {
    width: 40px;
    height: 40px;
    transform: scaleX(-1);
}

.right-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.right-walk, .jump, .throw {
    width: 40px;
    height: 40px;
}

.jump-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.throw-btn {
    background: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.instruction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 720px;
    width: 100%;	
    height: 30px;
    font-size: 32px;
}

.arrow-center{
    display: flex;
    align-items: center;
}

.arrow{
    width: 32px;
}

.settings {
    position: absolute;
    top: 4px;
    right: 45%;
}

.volume-img, .fullscreen-img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

@media (orientation: landscape) {
    .device {
        display: none !important;
    }
}

/* --------- Smartphones ----------- */
@media only screen and (max-width: 933px) {
    canvas {
        width: 100%;
    }
    .screen {
        width: 100%;
        height: 100%;
    }
    .headline {
        display: none;
    }
    .instruction {
        display: none;
    }
    .start-btn, .restart-btn{
        font-size: 16px;
        padding: 8px 12px;
    }
}

/* --------- Smartphones ----------- */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh !important;
    }
}

.device-center>img {
    transform-origin: center;
    transform: rotateX(0deg) rotateZ(0deg) translateY(0px);
}

.device-center>img {
    transform-origin: center;
    transform: rotateX(0deg) rotateZ(0deg) translateY(0px);
    animation: rotateAnimation 4s linear infinite; 
}

@keyframes rotateAnimation {
    0% {
        transform: rotateX(0deg) rotateZ(0deg) translateY(0px);
    }
    25% {
        transform: rotateX(0deg) rotateZ(30deg) translateY(0px);
    }
    50% {
        transform: rotateX(0deg) rotateZ(60deg) translateY(0px);
    }
    75% {
        transform: rotateX(0deg) rotateZ(90deg) translateY(0px);
    }
    100% {
        transform: rotateX(0deg) rotateZ(0deg) translateY(0px); 
    }
}